/* SEE ALSO: https://www.clarenet.co.jp/column/coding/firefox%E3%81%A7%E5%B4%A9%E3%82%8C%E3%81%AA%E3%81%84table%E3%81%A7%E3%81%AEboder%E3%81%AE%E3%81%8B%E3%81%91%E6%96%B9-2/ */
.xword_board-table {
	padding: 0;
	border-collapse: separate;
	border-spacing: 0;
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-right: none;
	border-bottom: none;
	overflow-x: scroll;
	overflow-y: scroll;
	height: 80vh;
	width: 90vw;
}
.xword_board-table td {
	border-left: none;
	border-right: 2px solid black;
	border-top: none;
	border-bottom: 2px solid black;
}
.xword_board-cell {
	width: 40px;
	height: 40px;
	font-size: 18px;
	padding: 0;
	text-align: center;
	position: relative;
}
.xword_board-cell-black {
	background-color: black;
}
.xword_board-cell-black input {
	display: none;
}
.xword_board-cell-white {
	background-color: white;
}
.xword_board-cell-white input {
	background-color: white;
}
.xword_board-cell-red {
	background-color: #ffcccc;
}
.xword_board-cell-red input {
	background-color: #ffcccc;
}
.xword_board-cell-yellow {
	background-color: #ffffcc;
}
.xword_board-cell-yellow input {
	background-color: #ffffcc;
}
.xword_board-textbox {
	text-align: center;
	width: 40px;
	height: 40px;
	border: 0;
	margin: 0;
	font-size: 20px;
}
.xword_board-small-text-number {
	font-family: arial;
	font-size: 11px;
	z-index: 2;
	position: absolute;
}
.xword_board-small-text-mark {
	font-family: arial;
	font-size: 11px;
	z-index: 2;
	position: absolute;
	right: 1px;
	bottom: -1px;
}
