body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#canvas {
	z-index: 1;
}
#type-select {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
	padding: 0.10cm 0.0cm;
	font-size: 0.5cm;
}
#sound-select {
	position: absolute;
	left: 2.0cm;
	bottom: 0;
	z-index: 2;
	padding: 0.10cm 0.2cm;
		font-size: 0.5cm;
	}
#caption {
	font-size: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	background-color: white;
	font-size: 0.5cm;
}
#about-button {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
	padding: 0.10cm 0.34cm;
	font-size: 0.5cm;
	width: 1.1cm;
}
#text-button {
	position: absolute;
	right: 1.2cm;
	bottom: 0;
	z-index: 2;
	padding: 0.10cm 0.34cm;
	font-size: 0.5cm;
}
.invisible {
	display: none;
}
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
textarea {
	font-size: 0.5cm;
	font-family: monospace, ui-monospace;
}
#division-select {
	position: absolute;
	right: 3cm;
	bottom: 0;
	z-index: 2;
	padding: 0.10cm 0.0cm;
	font-size: 0.5cm;
}
@media (max-width: 350px) {
	#type-select {
		left: 0;
		bottom: 1.0cm;
	}
	#sound-select {
		left: 0cm;
		bottom: 0;
	}
	#division-select {
		right: 1.2cm;
		bottom: 0;
	}
	#text-button {
		right: 0cm;
		bottom: 1.0cm;
	}
	#about-button {
		right: 0;
		bottom: 0;
		width: 1.0cm;
	}
}
@media (min-width: 750px) {
	#caption {
		font-size: 0.8cm;
	}
	#type-select {
		left: 0;
		bottom: 0;
		font-size: 0.8cm;
	}
	#sound-select {
		left: 3.0cm;
		bottom: 0;
		font-size: 0.8cm;
	}
	#division-select {
		right: 4.5cm;
		bottom: 0;
		font-size: 0.8cm;
	}
	#text-button {
		right: 1.8cm;
		bottom: 0;
		font-size: 0.8cm;
	}
	#about-button {
		right: 0;
		bottom: 0;
		font-size: 0.8cm;
		width: 1.7cm;
	}
}
@media (min-width: 800px) and (min-height: 800px) {
	#caption {
		font-size: 1.5cm;
	}
	#type-select {
		left: 0;
		bottom: 0;
		font-size: 1.5cm;
	}
	#sound-select {
		left: 4.6cm;
		bottom: 0;
		font-size: 1.5cm;
	}
	#division-select {
		right: 6.2cm;
		bottom: 0;
		font-size: 1.5cm;
	}
	#text-button {
		right: 2.0cm;
		bottom: 0;
		font-size: 1.5cm;
	}
	#about-button {
		right: 0;
		bottom: 0;
		font-size: 1.5cm;
		width: 1.9cm;
	}
}
