body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}
#caption {
	font-size: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	color: black;
	background-color: rgba(255, 210, 230, 100%);
	font-size: 0.5cm;
}
#canvas {
	z-index: 1;
	background-color: #222;
}
textarea {
	font-size: 9pt;
}
label {
	cursor: pointer;
	font-size: 0.5cm;
}
input[type='checkbox'] {
	cursor: pointer;
	font-size: 0.5cm;
	padding: 0;
}
#please-tap-here {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	color: white;
	background-color: black;
}
#floating-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit- transform: translateY(-50%) translateX(-50%);
	margin: auto;
	font-size: 0.5cm;
	color: white;
	background-color: black;
	padding: 4px;
	z-index: 3;
}
#microphone-label {
	position: absolute;
	left: calc(16.66% * 0);
	bottom: 1.2cm;
	width: 16%;
}
#type-select-button {
	position: absolute;
	left: calc(16.66% * 0);
	bottom: 0;
	width: 16%;
}
#sound-button {
	position: absolute;
	left: calc(16.66% * 1);
	bottom: 0;
	width: 16%;
}
#text-button {
	position: absolute;
	left: calc(16.66% * 2);
	bottom: 0;
	width: 16%;
}
#speech-label {
	position: absolute;
	left: calc(16.66% * 3);
	bottom: 0;
	width: 16%;
}
#config-button {
	position: absolute;
	left: calc(16.66% * 4);
	bottom: 0;
	width: 16%;
}
#about-button {
	position: absolute;
	left: calc(16.66% * 5);
	bottom: 0;
	width: 16%;
}
.invisible {
	display: none;
}
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
textarea {
	font-size: 0.5cm;
	font-family: monospace, ui-monospace;
}
.navigate-button {
	outline: 1px solid white;
	border-radius: 4px;
	background-color: rgba(255, 181, 230, 75%);
	color: black;
	padding: 4px;
	height: 1.2cm;
	line-height: 1.2cm;
	z-index: 2;
	font-size: 0.5cm;
	font-weight: bold;
	padding: 0;
	text-align: center;
}
.navigate-button:hover {
	background-color: rgba(255, 210, 230, 100%);
}
@media (max-width: 300px) {
	#microphone-label {
		left: 0;
		bottom: 1.2cm;
		width: 25%;
	}
	#type-select-button {
		left: 25%;
		bottom: 1.2cm;
		width: 20%;
	}
	#sound-button {
		left: calc(20% * 0);
		bottom: 0;
		width: 19%;
	}
	#text-button {
		left: calc(20% * 1);
		bottom: 0;
		width: 19%;
	}
	#speech-label {
		left: calc(20% * 2);
		bottom: 0;
		width: 19%;
	}
	#config-button {
		left: calc(20% * 3);
		bottom: 0;
		width: 19%;
	}
	#about-button {
		left: calc(20% * 4);
		bottom: 0;
		width: 19%;
	}
}
