body {
	margin: 0;
	overflow: hidden;
}

#video-container {
	width: 100vw;
	width: 100dvw;
	height: 100vh;
	height: 100dvh;
	position: relative;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#video {
	width: 100vw;
	width: 100dvw;
	height: 100vh;
	height: 100dvh;
	object-fit: contain;
}
#canvas {
	width: 100vw;
	width: 100dvw;
	height: 100vh;
	height: 100dvh;
	object-fit: contain;
}
