* {
	/* いったん、すべての要素をスクロール不能にする。スクロールしたいものは個別に指定する。 */
	overflow: hidden;
}
body {
	margin: 0;
	padding: 0;
	background-color: black;
}
#sai_id_canvas_1 {
	z-index: 1;
	background-color: #222;
	top: 0;
	left: 0;
	width: 100vw;
	width: 100dvw;
	height: 100vh;
	height: 100dvh;
}
#sai_id_button_lock_on {
	position: absolute;
	width: 50vw;
	width: 50dvw;
	height: 1cm;
	left: calc(50vw - 50vw / 2);
	left: calc(50dvw - 50dvw / 2);
	top: calc(80vh - 1cm / 2);
	top: calc(80dvh - 1cm / 2);
	font-size: 0.6cm;
}
#sai_id_button_close {
	position: absolute;
	width: 50vw;
	width: 50dvw;
	height: 1cm;
	left: calc(50vw - 50vw / 2);
	left: calc(50dvw - 50dvw / 2);
	top: calc(90vh - 1cm / 2);
	top: calc(90dvh - 1cm / 2);
	font-size: 0.6cm;
}
@media screen and (max-height: 360px) {
	#sai_id_button_lock_on {
		width: 20vw;
		width: 20dvw;
		height: 1cm;
		left: calc(30vw - 20vw / 2);
		left: calc(30dvw - 20dvw / 2);
		top: calc(80vh - 1cm / 2);
		top: calc(80dvh - 1cm / 2);
	}
	#sai_id_button_close {
		width: 20vw;
		width: 20dvw;
		height: 1cm;
		left: calc(70vw - 20vw / 2);
		left: calc(70dvw - 20dvw / 2);
		top: calc(80vh - 1cm / 2);
		top: calc(80dvh - 1cm / 2);
	}
}
.sai_class_face_button {
	background: rgba(255, 255, 255, 60%);
}
